# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

labels:
  app: inventory
  version: v1
  tier: backend
  implementation: microprofile

image:
  repository: ibmcase/inventory-mp
  tag: v2.0.0
  pullPolicy: IfNotPresent
  
resources:
  requests:
    cpu: 150m
    memory: 64Mi

service:
  database: mysql
  name: inventory
  type: NodePort
  servicePort: 9080
  servicePortHttps: 9443
  dbname: inventorydb
  rabbitmq: rabbitmq
  zipkinPort: 9411
  zipkinName: zipkin

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  metrics:
    cpu:
      targetAverageUtilization: 70
    memory:
      targetAverageUtilization: 70

istio:
  enabled: false
  weight: 100
  mTLS: SIMPLE
  gateway:
    enabled: false
    name:
    hosts:
      - "inventory.bluecompute.com"
    TLS:
      enabled: false
      # SIMPLE, MUTUAL
      mode: SIMPLE
      httpsRedirect: false
      serverCertificate: /etc/istio/ingressgateway-certs/tls.crt
      privateKey: /etc/istio/ingressgateway-certs/tls.key
      caCertificates: /etc/istio/ingressgateway-ca-certs/ca-chain.cert.pem

ingress:
  enabled: false
  hostname: #inventory.bluecompute.com
  path: /micro/inventory
  annotations:
    ingress.bluemix.net/redirect-to-https: "True"
  enableTLS: false
  TLS:
  - secretName: inventory.bluecompute.com
    hosts:
      - inventory.bluecompute.com

mysql:
  image: "mysql"
  imageTag: "5.7.14"
  imagePullPolicy: Always
  port: 3306
  mysqlUser: dbuser
  mysqlPassword: password
  mysqlDatabase: inventorydb
  mysqlRootPassword: password
  existingSecret:
  # For mysql init container
  istio:
    mTLS: DISABLE
    loadBalancer: LEAST_CONN
  podAnnotations:
    sidecar.istio.io/inject: "false"

# For deploying Inventory alone on Kube, enable RabbitMQ to pass health
rabbitmq:
  enabled: false
  mainPort: 5672
  managePort: 15672
  epmd: 4369
  dist: 25672

# For Travis testing with other services
travis:
  external: false
  releaseName: