# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
revisionHistoryLimit: 1
image:
  #repository: registry.csplab.cloudns.cx/microprofile/inventory-mp
  repository: ibmcase/inventory-mp
  #repository: inventory-mp
  tag: v2.0.0
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
service:
  name: inventory
  type: ClusterIP
  servicePort: 9080
  servicePortHttps: 9443
  sqlport: 3306
  dbname: inventorydb
  rabbitmq: rabbitmq
hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  metrics:
    cpu:
      targetAverageUtilization: 70
    memory:
      targetAverageUtilization: 70
services:
base:
  enabled: false
  replicaCount: 1
  image:
    tag : v0.9.9
  weight: 100
istio:
  enabled: false
  weight: 100
